<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="skeleton.css">
    
</head>

<body>
    <div class="container">
    <header>
            <div class="container">
                <h1>VolunteerMS</h1>
            </div>

            <nav>
                <div class="row container">
                    <div class="one column"><a href="/">Login</a></div>
                    <div class="one column"><a href="/register">Register</a></div>
                    <div class="one column"><a href="/events">Events</a></div>
                    <div class="one column"><a href="/">Profile</a></div>
                </div>
            </nav>
  
    </header>

    <main>

