<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Volunteer MS</title>
    <!-- <meta name="description" content=""> -->
    <!-- <meta name="author" content=""> -->

    <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" type="text/css" href="/normalize.css">
    <link rel="stylesheet" type="text/css" href="/skeleton.css">

    <!-- Favicon
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

</head>

<body>
    <div class="container">
        <header>
            <div class="container">
                <h1>VolunteerMS</h1>
            </div>

            <nav>
                <div class="row container">
                    <div class="one column"><a href="/">Login</a></div>
                    <div class="one column"><a href="/register">Register</a></div>
                    <div class="one column"><a href="/events">Events</a></div>
                    <div class="one column"><a href="/">Profile</a></div>
                </div>
            </nav>

        </header>

        <main>