<%- include('partials/header'); -%>

    <form method="POST" action="/register" >
        <div class="container">
            <div>
                <label for="username"><b>Choose a username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
            </div>

            <div>
                <label for="password"><b>Choose a password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
            </div>
        
            <div>
                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="alex@email.com" name="email" required>
            </div>

            <div>
                <p class="form-question"><b>Are you an admin?</b>
                    <span class="radio-btn-form">
                        <input type="radio" name="admin" for="admin" value="false" checked="checked"> No </input>
                    </span>
                    
                    <span class="radio-btn-form">
                        <input type="radio" name="admin" for="admin" value="true"> Yes </input>
                    </span>
                </p>
            </div>

            <button type="submit">Register</button>
        </div>
    </form>

<%- include('partials/footer'); -%>